<!-- views/contacts/index.ejs -->

<!DOCTYPE html>
<html>
<head>
  <% include ./partials/head %>
</head>
<body>
  <% include ./partials/nav %>

  <div class="container">
    <h2>Welcome!!</h2>
    <div>This is nodejs index page.</div>
  </div>
</body>
</html>
