<!-- views/board/about.ejs -->

<!DOCTYPE html>
<html>
<head>
  <% include ../partials/head %>
</head>
<body>
  <% include ../partials/nav %>

  <div class="container home home-about">
    <h2>About</h2>

    <ul>
      <li><a href="/board-home">Home</a></li>
      <li><a href="/board-home/about">About</a></li>
      <li><a href="/board-home/posts">게시판</a></li>
    </ul>

    <p>about 페이지입니다.</p>
  </div>
</body>
</html>
