<!-- views/board/welcome.ejs -->

<!DOCTYPE html>
<html>
<head>
  <% include ../partials/head %>
</head>
<body>
  <% include ../partials/nav %>

  <div class="container home home-welcome">

    <h2>Board</h2>

    <ul>
      <li><a href="/board-home">Home</a></li>
      <li><a href="/board-home/about">About</a></li>
      <li><a href="/board-home/posts">게시판</a></li>
    </ul>

    <div class="jumbotron">
      <h1>게시판</h1>
      <p>게시판입니다.</p>
    </div>
  </div>

</body>
</html>
